
/* Redefine Properties */
*, *::after, *::before{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}


/* Root Variables */
:root{
    --color-text-primary:#1E1E1E;
    --color-text-secondary:#696969;
    --color-button: #219F95;
    --color-item-heading:#234894;
    --color-badge-background: #AFCEDD;
    --color-white:#FFF;
    --avatar-size: 40px;
    --badge-size: 40px;
    --button-radius: 8px;
    --badge-radius: 6px;
}

html{
    font-size: 62.5%;
}


/* Define H1 */
h1{
    font-size: 1.8rem;
    line-height: 3.3rem;
    margin-bottom: 3rem;
    margin-right: 1rem;
    color: var(--color-text-primary);
}


@media screen and (min-width: 768px) {
    h1{
        font-size: 2.2rem;
        margin-bottom: 6rem;
        margin-right: 1rem;
    }
    
}



.container{
    max-width: 1420px;
    margin: 0 auto;
}

.ticket{
    padding: 2.8rem 1rem;
    
}

@media screen and (min-width: 1024px) {
    .ticket{
        padding: 4rem;
    }
}



/* Items Container */
.ticket__items{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 3.5rem;
    row-gap: 3rem;
}

@media screen and (min-width:768px) {
    .ticket__items{
        grid-template-columns: 1fr 1fr;
    }

    .ticket__item{
        gap: 1.5rem;
    }
    
}

@media screen and (min-width: 1280px) {
    .ticket__items{
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 2rem;
    }
    
}


/* Item */
.ticket__item{
    padding: 1.7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}





/* Badge */
.badge{
    width: var(--badge-size);
    height: var(--badge-size);
    color: var(--color-item-heading);
    background-color: var(--color-badge-background);
    border-radius: var(--badge-radius);
    display: flex;
    align-items: center;
    justify-content: center;

}

.badge p{
    font-size: 1.8rem;
    font-weight: 700;
}


/* Button */
.action__link{
    text-decoration: none;
    cursor: pointer;
    border-radius: var(--button-radius);
    font-size: 1.4rem;
    text-align: center;
    white-space: nowrap;
    padding: 1rem;
    color: var(--color-white);
    background-color: var(--color-button);
    font-weight: 500;
    width: 100%;
    transition: all ease-in-out .2s;
}

.action__link:hover{
    transform: scale(1.03);
}

@media screen and (min-width: 768px) {
    .action__link{
        padding: 2rem 1.5rem;
        width: auto;
        font-size: 1.6rem;
    }
}


/* Avatar */
.avatar img{
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: var(--badge-radius);
    object-fit: cover;
}



/* Item Header */
.item__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__header__title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.title{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-item-heading);
}

.item__header__date{
    color: var(--color-text-secondary);
    font-size: 1.2rem;
}



@media screen and (min-width: 768px) {
    .title{
        font-size: 1.8rem;
    }
}




/* Item Detail */

.item__detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.item__detail .request{
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-text-primary);
}

.item__detail .request-id{
    font-size: 1.1rem;
    color: var(--color-text-secondary);
}


@media screen and (min-width: 768px) {
    .item__detail .request{
        font-size: 1.8rem;
    }

    .item__detail .request-id{
        font-size: 1.2rem;
    }
}


/* Item Action */
.item__action{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.8rem;
}


.item__action__profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.item__action__profile .profile__name{
    font-size: 1.4rem;
    font-weight: 700;
}


@media screen and (min-width:768px) {
    .item__action{
        flex-direction: row;
        align-items: center;
    }

    .item__action__profile .profile__name{
        font-size: 1.6rem;
    }
    
}